 .container{
    padding: 2rem 8rem;
    background-color: #ff4c68;
    margin: 0;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.grid{
    display: flex;
     flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: .5rem  !important;
}
.skillBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 7rem;
    transform-style: preserve-3d;
}

.skillName {
    font-size: 1.2rem;
    font-weight: 500;
}
@media (max-width:540px) {
   .skillBox{
       width: 3rem;
       font-size: 20px;
       
   }
} 

